name: Testing

on: [ push, pull_request ]

jobs:
  build:
    strategy:
      matrix:
        node: [ '18' ]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    name: Unit tests ${{ matrix.node }} ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run lint
      - run: npm run test
